.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 80px; 
    align-items: center; 
}

.navbar a {
    flex: 1; 
    color: #f2f2f2;
    text-align: center;
    padding: 20px 0; 
    text-decoration: none;
    font-size: 22px; 
    border: none; 
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04aa6d;
    color: white;
}


.modebutton {
    background-color: #ff0000;
    color: white;
    border: none;
    height: 100%;
    width: 200px; 
    font-size: 22px;
    cursor: pointer;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap; 
}

.clickable {
    width: 15vw;  
    height: 15vh;
    background-color: lightblue;
    text-align: center;
    line-height: 15vh; 
    font-size: 3vw; 
    border: 2px solid black;
    margin: 2vw;
    display: inline-block;
}

.clickable:hover {
    background-color: orange;
}



