<body>


    <h1>Register</h1>
    <div class="keypad-display">Enter PIN: </div>

    <div id="pinKeypad">
        <button class="clickable">1</button>
        <button class="clickable">2</button>
        <button class="clickable">3</button>
        <button class="clickable">4</button>
        <button class="clickable">5</button>
        <button class="clickable">6</button>
        <button class="clickable">7</button>
        <button class="clickable">8</button>
        <button class="clickable">9</button>
        <button class="clickable">0</button>
        <div id="keypadTools">
            <button id="clear" class="clickable">Clear</button>
            <button id="enter" class="clickable">Enter</button>
        </div>
    </div>


    <script src="register.js"></script>

</body>