body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Ensure the body takes up the full height of the viewport */
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 80px; 
    align-items: center; 
}

.navbar a, .navbar button {
    flex: 1; 
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 22px; 
    border: none; 
}

.navbar a:hover, .navbar button:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #04aa6d;
    color: white;
}


.modebutton {
    background-color: #ff0000;
    color: white;
    border: none;
    height: 100%;
    width: 200px; 
    font-size: 22px;
    cursor: pointer;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 80px); /* Subtract the height of the navbar */
    flex-wrap: wrap; 
}

.clickable {
    flex: 1;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* height: calc(100vh - 100px); Adjust height to fit within the container */
}

.clickable:hover {
    background-color: #45a049;
}

.hovered {
    background-color:#3907ff;
}



.product-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 1rem;
}

.product-card {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 1rem;
    background: #ae1616;
}



